@charset "UTF-8";
body {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 18px;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../assets/fonts/HelveticaNeueCyr-Light.eot");
  src: local("вє"), url("../assets/fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../assets/fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../assets/fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

.header {
  background: #373A3C;
}

.header-logo {
  padding-top: 15px;
  padding-bottom: 21px;
}

.menu-item {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 16px;
  line-height: 1.1;
  position: relative;
}

.menu-item:hover {
  color: #fff;
}

.line-line {
  color: #8DD83D;
}

.nav-list {
  padding-top: 21px;
  padding-bottom: 21px;
}

.search {
  height: 38px;
  margin-top: 10px;
  width: 210px;
}

.user {
  padding-top: 21px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.user::before {
  position: absolute;
  content: '';
  background-image: url("../assets/img/user.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  left: -28px;
}

::-webkit-input-placeholder {
  padding-left: 10px;
  text-transform: capitalize;
}

:-ms-input-placeholder {
  padding-left: 10px;
  text-transform: capitalize;
}

::-ms-input-placeholder {
  padding-left: 10px;
  text-transform: capitalize;
}

::placeholder {
  padding-left: 10px;
  text-transform: capitalize;
}

.user-list {
  position: absolute;
  top: 60px;
  z-index: 10;
  display: none;
  min-width: 100px;
  min-height: 50px;
  background: #8DD83D;
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.user-item {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}

.user-item:hover {
  color: #8DD83D;
  background: #435766;
}

.user.active + .user-list {
  display: block;
}

.user-p {
  position: relative;
}

.games-list {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 11;
  background: #8DD83D;
  text-align: center;
  min-width: 100px;
  min-height: 50px;
  text-transform: capitalize;
}

.games-item {
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.games-item:hover {
  color: #8DD83D;
  background: #435766;
}

.menu-item.active + .games-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  max-height: 650px;
  min-height: 648px;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  font-size: 0px;
}

.slick-prev {
  right: 60px;
  background-image: url("../assets/img/icon-next.png") !important;
  width: 30px;
  height: 30px;
  border: none;
  background: no-repeat;
}

.slick-next {
  left: 60px;
  background-image: url("../assets/img/icon-prev.png") !important;
  background: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  z-index: 10;
  margin-top: -43px;
}

.slick-dots button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: #8DD83D;
  border-radius: 50%;
  border: none;
}

.slick-active button {
  background: transparent;
  border: solid #8DD83D 1px;
}

.slider_wrap {
  margin-top: -435px;
  padding-left: 10px;
}

.slider_title {
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
}

.slider_subtitle {
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

.slider-img {
  width: 100%;
  height: 100%;
  max-height: 645px;
  min-height: 645px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-wrapp__button {
  margin-top: -330px;
  padding-left: 10px;
}

.button {
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.button-watch {
  padding: 8px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
}

.button-games {
  padding: 8px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
}

.button:hover {
  background: #8DD83D;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .slider-wrapper .slick-prev {
    top: 260px;
    right: 10px;
  }
  .slider-wrapper .slick-next {
    top: 260px;
    left: 20px;
  }
}

.value-image {
  margin-top: 65px;
  width: 100%;
  max-width: 63px;
  height: 100%;
  max-height: 63px;
}

.value-title {
  color: #fff;
  text-transform: capitalize;
  padding-top: 20px;
}

.value-subtitle {
  color: #fff;
}

.value-card {
  margin-top: 45px;
  margin-bottom: 165px;
  background-color: #fff;
  min-height: 500px;
}

.value-card-wrapper {
  padding: 22px;
}

.value-card__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  color: #435766;
}

.value-card__title {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.2;
  color: #435766;
  margin-bottom: 60px;
  margin-top: 15px;
}

.value-card__button {
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
  margin-top: 15px;
}

.value-card__button:hover {
  background-color: #435766;
  color: #fff;
}

.value-card__image {
  width: 100%;
}

.value-card__link {
  background: #8DD83D;
  width: 100%;
  min-height: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
}

.value-card__link:hover {
  background-color: #435766;
  color: #fff;
}

.exclusive-wrapper {
  position: relative;
}

.exclusive-bg {
  width: 100%;
  min-height: 800px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.exclusive-text {
  position: relative;
  padding-top: 100px;
}

.exclusive-title {
  color: #fff;
}

.exclusive-card {
  background-color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=50);
  -webkit-transition: .9s;
  transition: .9s;
  margin-top: 55px;
  margin-bottom: 70px;
  border-radius: 5px;
}

.exclusive-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

.exclusive-card__text {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.exclusive-card__title {
  padding-top: 20px;
  font-size: 21px;
  line-height: 1.2;
}

.exclusive-card__game {
  font-size: 18px;
  line-height: 1.2;
}

.exclusive-card__link {
  color: #fff;
  display: inline-block;
  margin-top: 15px;
}

.exclusive-card__link:hover {
  color: #fff;
}

.exclusive-card__link__bl {
  background-color: #8DD83D;
  min-height: 50px;
  text-align: center;
  margin-top: 45px;
  border-radius: 5px;
}

.exclusive-card__link__bl:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  color: #8DD83D;
}

.exclusive__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.exclusive-button {
  position: relative;
  padding: 20px 50px;
}

.exclusive-wrap {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 23, 0.5))), url("/assets/img/exclusiveBg.jpg");
  background-image: linear-gradient(rgba(23, 23, 23, 0.5)), url("/assets/img/exclusiveBg.jpg");
  min-height: 880px;
  background-size: cover;
}

.ex-card .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.ex-card .slick-list {
  overflow: hidden;
}

.ex-card .slick-arrow {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  font-size: 0px;
}

.ex-card .slick-prev {
  right: 60px;
  background-image: url("../assets/img/icon-next.png") !important;
  width: 20px;
  height: 20px;
  border: none;
  background: no-repeat;
  top: 115px;
}

.ex-card .slick-next {
  left: 60px;
  background-image: url("../assets/img/icon-prev.png") !important;
  width: 20px;
  height: 20px;
  border: none;
  background: no-repeat;
  top: 115px;
}

.exclusive-title br {
  display: none;
}

@media screen and (max-width: 500px) {
  .ex-card .slick-next {
    left: 15px;
  }
  .ex-card .slick-prev {
    right: 15px;
  }
  .exclusive-title br {
    display: block;
  }
}

.design-bg {
  background-image: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%), url("assets/img/designBg.jpg");
  background-repeat: no-repeat;
  min-height: 480px;
  background-size: cover;
}

.design-title {
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
}

.design-subtitle {
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 10px;
}

.design-btn {
  padding: 20px 60px;
}

.design-btn-exp {
  padding: 20px 23px;
}

.design-wrap {
  padding-top: 115px;
}

@media screen and (max-width: 768px) {
  .design-title {
    font-size: 30px;
  }
  .design-subtitle {
    font-size: 20px;
  }
}

.footer {
  padding-top: 58px;
  min-height: 200px;
}

.footer-title {
  font-size: 18px;
  line-height: 1.2;
  color: #8DD83D;
  text-transform: capitalize;
}

.footer-list {
  padding-top: 35px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer-list-s {
  padding-top: 35px;
  padding-bottom: 50px;
}

.footer-item {
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: .9s;
  transition: .9s;
}

.footer-item:hover {
  color: #8DD83D;
  font-size: 20px;
}

.footer-item__social {
  color: #8DD83D;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-item__social:hover {
  color: #fff;
  font-size: 30px;
}

.line {
  color: #8DD83D;
  display: none !important;
}

.active_active {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

@media screen and (max-width: 992px) {
  .footer-list {
    display: none;
  }
  .footer-title.active + .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .line {
    display: inline-block !important;
  }
}

@media screen and (max-width: 576px) {
  .footer-title {
    padding-top: 15px;
  }
  .footer-list-s {
    padding-top: 15px;
  }
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -8px;
}

.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  z-index: 11;
}

.burger .menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.burger .menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}

.burger {
  display: none;
}

@media screen and (max-width: 992px) {
  .burger {
    display: block;
    position: relative;
    top: 15px;
  }
  .nav-list {
    display: none !important;
  }
  .search {
    display: none;
  }
}

.cod-title {
  letter-spacing: 1px;
  word-spacing: 5px;
}

.cod-subtitle {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.cod-wrap {
  margin-top: -515px;
  padding-left: 45px;
}

.cod-wrap-button {
  margin-top: -285px;
  padding-left: 45px;
}

.cod-button-games {
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 10px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
}

.main-page {
  background: #d1d1d1;
}

@media screen and (max-width: 1200px) {
  .cod-wrap {
    padding-left: 0px;
  }
  .cod-wrap-button {
    padding-left: 0px;
  }
}

.presentation-title {
  padding-top: 100px;
}

.presentation-button {
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686C6F), to(#373A3C));
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.presentation-button:hover {
  background: #8DD83D;
  color: #fff;
}

.presentation-wrapper {
  padding-top: 210px;
  padding-bottom: 110px;
}

.presentation-video {
  position: relative;
  width: 100%;
  max-width: 890px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  min-height: 560px;
}

.presentation-preview {
  position: relative;
  padding-bottom: 100px;
}

.play {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto auto;
  right: 0px;
  left: 0px;
  font-size: 100px;
  /* border: none; */
  color: #fff;
  /* background: inherit; */
  width: 100px;
  height: 100px;
}

.play:hover {
  color: #8DD83D;
}

.life {
  padding-bottom: 100px;
}

.answers {
  padding-bottom: 105px;
}

.game-title {
  font-size: 36px;
  line-height: 1.2;
  color: #435766;
  text-transform: capitalize;
}

.game-img {
  width: 100%;
  border-radius: 5px;
}

.technical {
  padding-bottom: 110px;
}

.technical-title {
  padding-bottom: 50px;
}

.technical-item {
  font-size: 21px;
  line-height: 1.2;
  color: #435766;
}

.technical-button {
  padding-top: 80px;
}

.technical-btn {
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
  background: #686C6F;
  padding: 15px 55px;
  border-radius: 5px;
}

.technical-btn:hover {
  background: #8DD83D;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .game-img {
    padding-top: 30px;
  }
  .technical-wrap-list {
    display: none;
  }
  .act {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.active_active_active {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
